* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0deg 0% 95%);

}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > i {
    color: #fff;
}

.header {
    position: sticky;
    top: 20px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    border-radius: 30px;
    margin: 20px;
    padding: 0 20px;
    color: rgb(57, 136, 255);
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(255, 255, 255);
}

.logo {
    font-weight: bolder;
    font-size: x-large;
    color: #3988ff;
    padding: 8px;
}

.navigation {
    display: block;
}

#burger-menu {
    display: none;
    border-radius: 10px;
    margin: 8px;
}

.page-links {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    margin: auto;
}

.page-links li {
    margin: 0 20px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 320px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;


    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
}

/* Market selector */

.select-market {
    display: flex;
    width: 320px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
}

.button-holder {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#select-market__button {
    border-radius: 7.5px;
}

/* Footer */

.footer {
    position: sticky;
    display: flex;
    width: 100vw;
    background-color: #3988ff;
    bottom: 0;
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
}

.social-networks {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .navigation{
        display: none;
    }

    #burger-menu {
        display: block;
    }
}